<body>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
<h2>Top iTunes Podcasts</h2>
    <ul *ngIf="cards">
      <li *ngFor="let card of cards">
        <p class="artistName">{{ card.artistName }}</p><br>
        <img src={{card.artworkUrl100}} alt="{{card.artistName}}" width="150" height="150"> <br>
        <button class="button" href="{{ card.url }}">Check the site</button>
      </li>
    </ul>

</body>