
body{ background: #ffffff;
    font-family: 'Oxygen', sans-serif;
    line-height: 1;
}

h2{
    font-size: 50px;
    font-weight:bold;
    color:#595959;
}


ul {font-family: 'Oxygen', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    }

li {
        padding: 40px;
        margin-right: 10px;
        border-radius: 10px;
        background: #fafafa;
        box-shadow:  20px 20px 40px #bebebe,
                    -20px -20px 40px #ffffff;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        }

li:hover{
    background:   #5260e0;
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
    color: white;
    font-weight: bolder;
        }
a{
    color: white;
    font-weight: bolder;
}

p {
            margin: 0;
        }

p.name {
            
            font-weight: bolder;
            font-size: 4rem;
        }

img{
            border-radius: 10px;
        }
    
