.grid-container {
  background: hsl(0, 0%, 100%);
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
  padding: 1em;
}

div.main {
  display: inline-grid;
  grid-auto-columns: minmax(250px, auto);
  grid-template-areas: "image text";
  grid-gap: 16px;
  border-radius: 10px;
  background: hsl(0, 0%, 97%);
  box-shadow: 20px 20px 40px hsl(0, 0%, 70%), -20px -20px 40px hsl(0, 0%, 100%);
  margin: 0 auto;
}
div.section {
  font-size: 1.333rem;
  font-weight: 500;
  text-decoration: none;
  list-style-type: none;
  grid-area: text;
  padding: 4rem;
  display: inline;
  flex: 1 1 auto;
  line-height: 2;
}

p.name {
  font-size: 2.369rem;
  font-weight: 500;
}
img {
  border-radius: 30px;
  grid-area: image;
  padding: 2rem;
  object-fit: contain;
  align-self: flex-start;
}

a.button {
  font-weight: bolder;
  background: #ffffff;
  border-radius: 10px;
  border: 0.5px solid hsl(234, 70%, 60%);
  cursor: pointer;
  color: hsl(234, 70%, 60%);
  padding: 6px 24px;
  text-decoration: none;
  font-size: 1.333rem;
  font-weight: bold;
  grid-area: image;
  margin-top: 2em;
}

.button:hover {
  background: hsl(234, 70%, 60%);
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
  color: white;
  font-weight: bolder;
}
